
<html>
<head>
	<title>Introduction</title>
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
  rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="static/style/style.css">
</head>
<body style="padding-top: 50px">

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="navbar-collapse">
		<ul class="nav navbar-nav navbar-left">
			<li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
			<li><a href="/rolers"><span class="glyphicon glyphicon-user"></span> Rolers</a></li>
			<li><a href="/picture"><span class="glyphicon glyphicon-picture"></span> Picture</a></li>
			<li><a href="/introduction"><span class="glyphicon glyphicon-list-alt"></span> Introduction</a></li>
		</ul>
		</div>
	</div>
</nav>

<div class="jumbotron" style="margin: 0">
	<div class="container">
		<hgroup>
			<h1>
				There are some main rolers in these filems
			</h1>
		
		</hgroup>
	</div>
</div>

<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-3 hidden-sm hidden-xs">
                <div class="list-group">
                    <a class="list-group-item" href="#0">1.Wolverine</a>
                    <a class="list-group-item" href="#1">2.Storm</a>
                    <a class="list-group-item" href="#2">3.Fireman</a>
                    <a class="list-group-item" href="#3">4.Iceman</a>
                    <a class="list-group-item" href="#4">5.Magneto</a>
                    <a class="list-group-item" href="#5">6.Mystique</a>
                    <a class="list-group-item" href="#6">7.Red tank</a>
                    <a class="list-group-item" href="#7">8.Diamond girl</a>
                    <a class="list-group-item" href="#8">9.Angel</a>
                </div>
            </div>
            <div class="col-md-9 abc">
                <a name="0"></a>
                <h3>Wolverine- Rogan Hugh Jackman</h3>
                <p>
                	Wolverine, a mutant, a member of the future X-Men. With super resilience, the antibodies against the poison and the source are also strong, and the aging phenomenon is slower than ordinary people. In addition, he has a more sensitive sensory ability than the beast. The diamond claws on the wrists of Wolverine are made of the hardest metal on the earth. They are usually hidden in the wrist and can be broken by the muscles to make the claws break through the skin (and the wound can be healed by the healing force) The tip of the claw is sharp and can tear any object.
                </p>

                <a name="1"></a>
                <h3>Fireman-Aaron Stanford</h3>
                <p>
                    "Fireman" Pao has the ability to control the flame. His character is like a burning flame, warm and impulsive. The childhood shadow of childhood is shrouded in his heart, and then brought into the talent school of Professor X. As the story goes, Pa If he gradually realizes that his strength belongs, he is young and frivolous, he chose to join the Wanwangwang side, and in the final battle of the third part, he confronted the former comrades Iceman...
                 Control fire, can't make fire, level 3 mutant.
                </p>


                <a name="2"></a>
                <h3>Storm-Halle Berry</h3>
                <p>
                    Have the ability to control the climate at will. Before joining the X-Men, Orolo was a street child, living on the skills of being a thief and picking up hands. After her talent appeared, she was worshipped by the indigenous African tribes, known as the goddess of the weather, and later met Professor X and became a member of the X-Men. Related to attacks on the Statue of Liberty, Westchester Railway Station and the destruction of Lake Aika. In the comics, the storm woman will use magic, and its magic is very powerful. The "secret" in the X-Men worships Orolo and is also separated from the Hell border by the magic taught by Orolo. Her magic symbolizes life and purity.
                </p>


                <a name="3"></a>
                <h3>Mystique-Rebecca Romijn-Stamos</h3>
                <p>
                    Imitated the shape and even the voice of the politicians of the United States, such as the President of the United States, and Wolverine.
                    No deformation is full body blue hair red
                    Wrestled by Wolverine in 1 and then replied  Magneto
                     men
                </p>

                <a name="4"></a>
                <h3>Iceman</h3>
                <p>
                    Bobby was born on Washington Harbor in Long Island, New York. The father is an Irish Catholic and the mother is a Jew.
                    Bobby's ability first appeared when he was dating his girlfriend Judy Harmon at a young age, and was bullied by bully Lodge Bisley. At this time, Bobby accidentally discovered that he had the super power to freeze the moisture in the air into ice. And the Bisley was frozen.
                    After the news spread, the public regarded Bobby as a threat, and some mobs broke into Bobby’s home to look for him. Later the police came and took him to the police station to protect Bobby.
                    After Professor X heard it, he sent a laser eye to meet Bobby. After Bobby refused to shoot the laser, the two sides fought. Fortunately, Professor X finally arrived in time to stop them. Soon after, Bobby accepted the invitation of Professor X and agreed to send Bobby to X College for enrollment and became known as "Iceman." </p>

                <a name="5"></a>
                <h3>Magneto</h3>
                <p>Eric was born in a period of poor slavery, and his mother was forced to work hard and separate from her family. Little Eric knew that his mother would never return, and he broke his ability in an instant: screaming at the iron gate, the tall steel door was shouted by a small child. A mutant researcher knows and brings Eric to the office and tells him that if Eric can't move a coin in front of him, he shoots and kills Eric's mother. In the frustration, Eric was still unable to move the coin within three seconds, and his mother fell under the gun of the scientist... </p>

                <a name="6"></a>
                <h3>Red tank</h3>
                <p>
                	The red tank (Juggernaut) is a behemoth that commands people's fear. It is generally used to respect the huge objects. It is also known as the destruction of the impact. I believe everyone should be familiar with this role. He is a classic villain of Marvel. It is also very common. Appeared in the X-Men series, Juggernaut was turned into "Ming Ding Ge" before Taiwan, but after the film was released, it was collectively referred to as "Red Tank." The Red Tank was squeezed into the 189th place in the famous Wizarding Manga magazine to vote for 200 popular cartoon characters in the United States. In 2009, it was ranked 19th by the IGN as the greatest comic villain. The X battle was released in 2006. Police film 3 debut, but unfortunately, he only turned him into a steel helmet and a goose in the movie. It is a pity that the movie can't show the shape of the giant man in the comic. The power of the red tank comes from the evil spirits, and it is inexhaustible. </p>
                <p>
                	Some resonator guitars possess metal bodies and these are called steel guitars. This can lead to some confusion with the Hawaiian guitar of the same name. They are two distinct instruments. The Hawaiian steel guitar takes its name from the steel bar used to create the glissandi and the Resonator steel guitar refers to the material used for the construction of the body.
                </p>

                <a name="7"></a>
                <h3>Diamond girl</h3>
                <p>
                	One of the super powers of the White Queen is telepathy, able to read other people's thinking and memory, and can forcefully modify the other's memory, control their thinking, shield the mind, connect multiple people's thinking, and use telepathy to keep the victim in Unconscious sleep state. In addition, the White Queen is also proficient in electronic theory and electronics, and learned how to build a device that enhances the sense of heart, and uses the heart to exert different effects; the other ability is the whole body of diamonds, the white queen of the diamond form can It is almost impeccable, can withstand the impact of great power, and does not feel tired or need water and food, and is immune to the mental attacks of other telepaths. However, this form cannot use telepathy. </p>

                <a name="8"></a>
                <h3>Angel</h3>
                <p>Warren Kenneth Worthington III is the richest man who inherits the family industry. He has a pair of flying wings behind him. After being transformed into "Archangel" by the Apocalypse, the wings are metallized and can be used to launch steel feather flying knives. After the second variation, the above morphology can be switched, and the blood can treat the blood type compatible person. </p>
            </div>
        </div>
    </div>
</div>
	

<footer id="footer">
	<div class="container">
	</div>
</footer>







<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>